@page
@model IndexModel
@{
    ViewData["Title"] = "ComputerShopHome";
}

<div class="text-left">
    <h1 class="display-4">Страничка проекта</h1>
    <p>Пока что тут видно только время @DateTime.Now .Планируется создать тут магазин компьютерных деталей</p>
</div>
